<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pranav.user.leadtracking">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- android:theme="@style/Theme.Transparent" -->
    <!-- android:theme="@style/AppTheme.Popup_theme" -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name="com.microsoft.aad.adal.AuthenticationActivity"
            android:label="title_login_hello_app" />
        <activity
            android:name=".view.activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b04d55e8bedb045c69398bb36aafb7e1af3820ce" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HomeFeedsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NetworkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.ScoreboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DealsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.AddNewPOstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DealProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.NetworkDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MyProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.AddNotesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.NotesDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DealQuestionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.ScoreBoardProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AllQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ContactsDealActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.ContactsMeetingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.MeetingQuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.InviteesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CupActivity"
            android:theme="@style/AppTheme.Popup_theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.NetworkUploadActivity"
            android:theme="@style/AppTheme.Popup_theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.FeedsUploadActivity"
            android:theme="@style/AppTheme.Popup_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.EditNetworkActivity"
            android:theme="@style/AppTheme.Popup_theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.AddDealsActivity"
            android:theme="@style/AppTheme.Popup_theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.FiltersActivity"
            android:theme="@style/AppTheme.Popup_theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.DealFilterActivity"
            android:theme="@style/AppTheme.Popup_theme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".view.activity.ZoomImageActivity" />
        <activity
            android:name=".view.activity.AccountAddEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AccountAdd"
            android:screenOrientation="portrait" />
    </application>

</manifest>